<?xml version="1.0"?>
<!--
/**
 * Magendoo CustomerSegment Admin Menu configuration
 *
 * @category  Magendoo
 * @package   Magendoo_CustomerSegment
 * @copyright Copyright (c) Magendoo (https://magendoo.com)
 * @license   https://opensource.org/licenses/OSL-3.0 Open Software License v. 3.0 (OSL-3.0)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magendoo_CustomerSegment::segments"
             title="Customer Segments"
             module="Magendoo_CustomerSegment"
             sortOrder="50"
             parent="Magento_Customer::customer"
             action="customersegment/segment/index"
             resource="Magendoo_CustomerSegment::segments"/>
    </menu>
</config>
